<% provide(:title, "Carts") %>

<h1><%= pluralize(@carts.count, "Cart") %></h1>

<% @carts.each do |cart| %>
	<h2><%= link_to cart.name, cart %></h2>
	<p><%= cart.description %></p>
<% end %>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to "Add New Cart", new_cart_path %>
<% end %>