<div class="row">
	<div class="large-12 columns">
		<div id="page-footer">
			<small>&copy; <%= Time.now.strftime("%Y") %> Food Cart Forest</small>
				<ul>
					<li><%= link_to "About", '#' %></li> | 
					<li><%= link_to "Help", '#' %></li> | 
					<li><%= link_to "Contact", '#' %></li>
				</ul>
		</div>
	</div>
</div>