<aside id="page-sidebar">
	<h2>Latest comments</h2>

	<% if @latest_comments.any? %>
		<% @latest_comments.each do |comment| %>
			<article>
				<p><%= comment.body %></p>
				<footer>
					<small><%= posted(comment) %></small>
				</footer>
			</article>
		<% end %>
	<% else %>
		<article>
			<p>No comments yet.</p>
		</article>		
	<% end %>
</aside>

